@font-face {
	font-family: 'Exo2.0'; 
	src: url('../fonts/Exo2.0-Thin.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
 }
body {
  font-family: 'Trebuchet MS';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}